<div class="backdrop" id="backdrop">
    <div class="modal" id="loginModal">
        <div class="modal-content">
            <span class="close" data-modal="loginModal">&times;</span>
            <div class="modal-selector">
                <span id="login-content-span" class="login-content-span active" data-modal="loginModal">Login</span>
                <span id="register-content-span" class="register-content-span" data-modal="loginModal">Register</span>
            </div>
       
            <div id="login-content" class="login-content active">
                <h2>Login</h2>
                <form id="loginForm">
                    <label for="name">Username:</label>
                    <input type="text" id="name" name="name" required />
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required />
                    <div id="login-feedback"></div>
                    <button type="submit">Login</button>
                </form>

            </div>
            <div id="register-content" class="register-content">
                <h2>Register</h2>
                <form id="registerForm">
                    <label for="register-username">Username:</label>
                    <input type="text" id="register-username" name="username" required />
                    <label for="register-password">Password:</label>
                    <input type="password" id="register-password" name="password" required />
                    <label for="repeat-password">Repeat Password:</label>
                    <input type="password" id="register-repeat-password" name="repeatPassword" required />
                    <div id="register-feedback"></div>
                    <button type="submit">Register</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="~/js/login.js"></script>


