@page
@model BedmintonReservationSystem.Pages.ReservationsModel
@{
    ViewData["Title"] = "Reservations";
}

<!-- Vanilla Calendar CSS -->
<link href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro@2.9.6/build/vanilla-calendar.min.css" rel="stylesheet" />

<!-- Vanilla Calendar Container -->


<!-- Vanilla Calendar JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro@2.9.6/build/vanilla-calendar.min.js"></script>



<div id="calendar"></div>

<div id="ReservationTable">
    <table>
        <tr>
            <th>Time/Court</th>
            <th>09:00</th>
            <th>09:30</th>
            <th>10:00</th>
            <th>10:30</th>
            <th>11:00</th>
            <th>11:30</th>
            <th>12:00</th>
            <th>12:30</th>
            <th>13:00</th>
            <th>13:30</th>
            <th>14:00</th>
            <th>14:30</th>
            <th>15:00</th>
            <th>15:30</th>
            <th>16:00</th>
        </tr>
        <tbody id="reservationBody">
            
        </tbody>
    </table>

</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const calendar = new VanillaCalendar('#calendar', {
            type: 'default', 
            settings: {
                lang: 'en', 
            },
        });
        calendar.init(); 
    });
</script>